.idea
.gradle
local.properties
build
*.iml
keystore.properties
lint.xml
gradlew*

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Created by .ignore support plugin (hsz.mobi)
